.Header{
  display: grid;
  grid-template-areas: "h1 nav";  
  background-color: #c3c3c3;
  height: 60px;
  align-items: center;

}
.Header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #000000;
  }

.Nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.Nav a{
    border: none;
    background: none;
    color: #000000;
    text-decoration: none;
}